@font-face{
  font-family: Verdana;
  src: local('Verdana');
}

body {
  font-family: Verdana;
}

.post-wrapper {
  text-align: left;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #373c3f;
  border-radius: 3px;
  box-shadow: 1px 2px 7px rgba(50, 50, 50, 0.75);

  display: grid;
  grid-template-columns: 70% 30%;
}
.column-1 {
  grid-column: 1;
}
.column-2 {
  grid-column: 2;
}
.card-wrapper {
  width: 95%;
  min-height: 50vh;
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 20px auto;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 2px 7px rgba(50, 50, 50, 0.75);
}
.card-wrapper h3 {
  padding: 0;
  font-weight: 400;
}
.card-wrapper hr {
  border-color: rgba(50, 50, 50, 0.05);
}

.sub-info {
  width: 90%;
  margin: 20px auto;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 2px 7px rgba(50, 50, 50, 0.75);
}
.sub-info h4 {
  margin: 0;
  padding: 8px 0 0 8px;
  height: 30px;
  color: white;
  background-color: #014980;
}

#moveUp{
  text-align: center;
}

#moveUpText{
  vertical-align: middle;
  line-height: normal;
}

.sub-info img{
  margin: 5px;
  margin-right: 20px;
}

.sub-info p {
  padding: 5px;
}

.comment {
  margin-left: 0px;
}

.bold{
  font-weight: bold;
}

.larger{
  font-weight: bold;
  font-size: 125%;
  margin-top: 10px;
}

.ltr{
  display: flex;
  margin-right: 20px;
}

.wrap{
  overflow-wrap: break-word;
  width: 95%;
  padding: 8px 12px;
  font-size: 95%;
}

.slightmargin{
  margin-top: 3px;
}

.verticalLine{
  height: 10px;
}

.SearchBar {
  height: 40px;
  width: 20%;
  border-radius: 4px;
  border: 1px solid lightgray;
  background-color: #f6f7f8;
  padding: 0 6px;
}